{% extends 'base.html.twig' %}

{% block title %}Privacy Policy : The Lend Engine{% endblock %}

{% block h1 %}Privacy Policy{% endblock %}

{% block body %}

    <section id="title">
        <div class="container">
            <h1>
                Privacy Policy
            </h1>
        </div>
    </section>

    <section id="feature1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <style>
                        h3 {
                            padding-top: 20px;
                        }
                    </style>
                    <p>
                        Lend Engine ("us", "we", or "our") operates the www.lend-engine.com website and the Lend Engine
                        application (collectively know as the "Service"). The Lend Engine application is used by your
                        Members, and this Privacy Policy extends to the data captured for those Members. <br><br>

                        This page informs you of our policies regarding the collection, use and disclosure of Personal
                        Information when you or your members use our Service.<br><br>

                        We will not use or share your information, or the information stored within your App, with
                        anyone except as described in this Privacy Policy.<br><br>

                        We use your Personal Information for providing and improving the Service. By using the Service,
                        you agree to the collection and use of information in accordance with this policy. Unless
                        otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same
                        meanings as in our Terms and Conditions, accessible at www.lend-engine.com<br>
                    </p>

                    <h3>What data do we collect?</h3>

                    <p>
                        When you register to create a Lend Engine account, we will ask for limited personal information
                        including your name, company and email address. We need this information to set up a blank Lend
                        Engine account for you. When registering for a Lend Engine account, we will give you the option
                        to subscribe to a newsletter containing updates to the Lend Engine platform, and other related
                        news. You can unsubscribe from this newsletter at any time using the link contained within each
                        email.
                    </p>

                    <p>
                        While using our Service, your members may provide you with certain personally identifiable
                        information that can be used to contact or identify them. Personally identifiable information
                        may include, but is not limited to, email address, name, phone number, postal address,
                        other information ("Personal Information"). The type of data you collect from your members is
                        not controlled by the Lend Engine, so you need to be clear with your members in your own privacy
                        policy what data you are collecting.
                    </p>

                    <p>
                        Lend Engine does not use member information within library accounts for any purpose other than a
                        brief "recent loans" information bar on the Lend Engine website. Users are not personally
                        identifiable from this information.
                    </p>

                    <p>
                        Information removal (members); members may request that a library (Lend Engine administrator)
                        remove personal data from their records. The library should respond to this request within a
                        reasonable
                        time and should use the contact removal tool provided within the contact edit screen. The
                        contact removal tool will delete any information that can be used to personally identify the
                        contact, while leaving an anonymous record in place for loan reporting purposes.
                    </p>

                    <h3>How long do we keep data for?</h3>

                    <p>
                        While you are actively using your Lend Engine account, your member data will be retained. An
                        active account is one that has a pay plan (including the free plan) and one that is being
                        accessed by an administrator at least once every 60 days. Lend Engine accounts not accessed for
                        over 60 days will be permanently deleted. We will retain the library name and registrant
                        information as an audit
                        trail. This information can be deleted permanently upon request to hello@lend-engine.com
                    </p>

                    <p>
                        The officer in control of data protection and privacy at Lend Engine is Chris Tanner
                        (chris@lend-engine.com)
                    </p>

                    <h3>Log Data</h3>

                    <p>
                        We collect information that your browser sends whenever you visit our Service ("Log Data"). This
                        Log Data may include information such as your computer's Internet Protocol ("IP") address,
                        browser type, browser version, the pages of our Service that you visit, the time and date of
                        your visit, the time spent on those pages and other statistics.
                    </p>

                    <h3>Cookies</h3>

                    <p>
                        Cookies are files with small amount of data, which may include an anonymous unique identifier.
                        Cookies are sent to your browser from a web site and stored on your computer's hard
                        drive.<br><br>

                        We use "cookies" to collect information. You can instruct your browser to refuse all cookies or
                        to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be
                        able to use some portions of our Service.
                    </p>

                    <h3>Data storage</h3>

                    <p>Lend Engine data is hosted in the EU.</p>

                    <h3>Service Providers</h3>

                    <p>
                        We may employ third party companies and individuals to facilitate our Service, to provide the
                        Service on our behalf, to perform Service-related services or to assist us in analyzing how our
                        Service is used.<br><br>

                        These third parties have access to your Personal Information only to perform these tasks on our
                        behalf and are obligated not to disclose or use it for any other purpose. <br><br>

                        Third parties used by Lend Engine include :
                        <br>Amazon AWS for database and image hosting
                        <br>Heroku (via Amazon) for file serving and log management
                        <br>Mailchimp for library owner newsletter
                        <br>Stripe for library subscriptions, only when on a paid plan
                        <br>Google for email, website and application analytics
                    </p>

                    <h3>Card Payments</h3>

                    <p>
                        Credit and debit card payment services are provided directly by Stripe.com. At no point are card
                        details stored in Lend Engine, or transferred via Lend Engine servers.
                    </p>

                    <h3>Security</h3>

                    <p>
                        Plus plan Lend Engine accounts are hosted on our SSL servers, where transmission between server
                        and browser is encrypted. Free and Standard Lend Engine accounts are hosted on our non-SSL
                        servers.
                        If you would like your library to be hosted on our SSL servers, you can upgrade to a Plus plan,
                        or upgrade to a Standard plan and request that your account also have SSL. You will need to work
                        with our technical team to set up a custom domain for your account.
                    </p>

                    <p>
                        Lend Engine accounts are accessed using an email address and password. This access data is
                        encrypted and only known to the user; there is no way that database administrators or Lend
                        Engine technical staff can see passwords.
                    </p>

                    <p>
                        Member information is only available to staff users of a Lend Engine library. Staff users can
                        only be created by administrators with suitable access. Lend Engine administrators creating
                        staff within their accounts are responsoible for ensuring that their staff receive suitable
                        privacy training, and take suitable privacy measures with the membership base.
                    </p>

                    <h3>Links To Other Sites</h3>

                    <p>
                        Our Service may contain links to other sites that are not operated by us. If you click on a
                        third party link, you will be directed to that third party's site. We strongly advise you to
                        review
                        the Privacy Policy of every site you visit.<br><br>

                        We have no control over, and assume no responsibility for the content, privacy policies or
                        practices of any third party sites or services.
                    </p>

                    <h3>Children's Privacy</h3>

                    <p>
                        Our Service does not address anyone under the age of 13 ("Children").

                        We do not knowingly collect personally identifiable information from children under 13. If you
                        are a parent or guardian and you are aware that your Children has provided us with Personal
                        Information, please contact us. If we discover that a Children under 13 has provided us with
                        Personal Information, we will delete such information from our servers immediately.<br><br>

                        The exception to the above, in the case of Toy Libraries, is the capture of date of birth and
                        age of members’ children, which is provided with the consent of the guardian.
                    </p>

                    <h3>Automated emails</h3>

                    <p>
                        Lend Engine sends automated emails to members of libraries, as a service to reduce workload on
                        library managers and improve lending efficiency. These automated emails are sent as follows:
                        <br><br>
                        The day before a loan is due to be returned, an email "your loan is due tomorrow" is sent.<br>
                        The day before a reservation is due to be picked up, an email "your reservation is ready
                        tomorrow" is sent.<br>
                        On the day a membership expires, the member is sent a notification to let them know it's
                        expired.
                    </p>

                    <p>
                        The subject and content of these emails can be changed by administrators when the Lend Engine
                        account is on the Standard or Plus plan. These emails are considered transactional information
                        required for the running of a library, in the same way that password reminders are sent to an
                        email. To prevent a member from receiving transactional emails, remove their email address from
                        your system.
                    </p>

                    <h3>Changes To This Privacy Policy</h3>

                    <p>
                        We may update our Privacy Policy from time to time. We will notify you of any changes by posting
                        the new Privacy Policy on this page.<br><br>

                        You are advised to review this Privacy Policy periodically for any changes. Changes to this
                        Privacy Policy are effective when they are posted on this page.
                    </p>

                    <h3>Contact Us</h3>

                    <p>
                        If you have any questions about this Privacy Policy, please contact us at hello@lend-engine.com.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="divider">
        <div class="container">
            <h3>
                Sign up for a free account now.
            </h3>
            <a href="{{ path('signup') }}" class="btn btn-success btn-signup">Sounds good. Let's go!</a>
        </div>
    </section>


{% endblock %}
