{% extends 'base.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block hero %}
    <section id="directory-heading">
        <div class="container">
            <h1>
                Privacy policy
            </h1>
        </div>
    </section>
{% endblock %}
{% block body %}

    <section id="feature1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <style>
                        h3 {
                            padding-top: 20px;
                        }
                    </style>
                    <p>
                        Lend Engine ("us", "we", or "our") operates the www.lending-libraries.online website (known as the "Service").
                        <br><br>

                        This page informs you of our policies regarding the collection, use and disclosure of Personal
                        Information when you or your members use our Service.<br><br>

                        We will not use or share your information, or the information stored within your App, with
                        anyone except as described in this Privacy Policy.<br><br>

                        We use your Personal Information for providing and improving the Service. By using the Service,
                        you agree to the collection and use of information in accordance with this policy. Unless
                        otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same
                        meanings as in our Terms and Conditions, accessible at www.lending-libraries.online<br>
                    </p>

                    <h3>What data do we collect?</h3>

                    <p>
                        When you add a library, we will ask for limited personal information
                        including your name, organisation and email address. We need this information to set up a listing for you.
                    </p>

                    <h3>How long do we keep data for?</h3>

                    <p>
                        Your data will be retained until you ask us to remove it.
                        This information can be deleted permanently upon request to hello@lending-libraries.online
                    </p>

                    <p>
                        The officer in control of data protection and privacy is Chris Tanner
                        (chris@lend-engine.com)
                    </p>

                    <h3>Log Data</h3>

                    <p>
                        We collect information that your browser sends whenever you visit our Service ("Log Data"). This
                        Log Data may include information such as your computer's Internet Protocol ("IP") address,
                        browser type, browser version, the pages of our Service that you visit, the time and date of
                        your visit, the time spent on those pages and other statistics.
                    </p>

                    <h3>Cookies</h3>

                    <p>
                        Cookies are files with small amount of data, which may include an anonymous unique identifier.
                        Cookies are sent to your browser from a web site and stored on your computer's hard
                        drive.<br><br>

                        We use "cookies" to collect information. You can instruct your browser to refuse all cookies or
                        to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be
                        able to use some portions of our Service.
                    </p>

                    <h3>Data storage</h3>

                    <p>Data is hosted in the EU.</p>

                    <h3>Service Providers</h3>

                    <p>
                        We may employ third party companies and individuals to facilitate our Service, to provide the
                        Service on our behalf, to perform Service-related services or to assist us in analyzing how our
                        Service is used.<br><br>

                        These third parties have access to your Personal Information only to perform these tasks on our
                        behalf and are obligated not to disclose or use it for any other purpose. <br><br>

                        Third parties used include :
                        <br>Amazon AWS for database and image hosting
                        <br>Heroku (via Amazon) for file serving and log management
                        <br>Google for email, website and application analytics
                    </p>

                    <h3>Links To Other Sites</h3>

                    <p>
                        Our Service may contain links to other sites that are not operated by us. If you click on a
                        third party link, you will be directed to that third party's site. We strongly advise you to
                        review
                        the Privacy Policy of every site you visit.<br><br>

                        We have no control over, and assume no responsibility for the content, privacy policies or
                        practices of any third party sites or services.
                    </p>

                    <h3>Children's Privacy</h3>

                    <p>
                        Our Service does not address anyone under the age of 13 ("Children").

                        We do not knowingly collect personally identifiable information from children under 13. If you
                        are a parent or guardian and you are aware that your Children has provided us with Personal
                        Information, please contact us. If we discover that a Children under 13 has provided us with
                        Personal Information, we will delete such information from our servers immediately.
                    </p>

                    <h3>Changes To This Privacy Policy</h3>

                    <p>
                        We may update our Privacy Policy from time to time. We will notify you of any changes by posting
                        the new Privacy Policy on this page.<br><br>

                        You are advised to review this Privacy Policy periodically for any changes. Changes to this
                        Privacy Policy are effective when they are posted on this page.
                    </p>

                    <h3>Contact Us</h3>

                    <p>
                        If you have any questions about this Privacy Policy, please contact us at hello@lending-libraries.online.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
