{% extends 'base.html.twig' %}

{% block title %}Terms and Conditions : The Lend Engine{% endblock %}

{% block h1 %}Terms and Conditions{% endblock %}

{% block body %}

    <section id="title">
        <div class="container">
            <h1>
                Terms and Conditions
            </h1>
        </div>
    </section>

    <section id="feature1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <style>
                        h3 {
                            padding-top: 20px;
                        }
                    </style>

                    <p>
                        Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using
                        the www.lend-engine.com website or the Lend Engine web application (the "Service") operated by
                        Lend Engine ("us", "we", or "our").<br><br>

                        Your access to and use of the Service is conditioned on your acceptance of and compliance with
                        these Terms. These Terms apply to all visitors, users and others who access or use the Service.<br><br>

                        By accessing or using the Service you agree to be bound by these Terms. If you disagree with any
                        part of the terms then you may not access the Service.
                    </p>

                    <h3>Accounts</h3>

                    <p>
                        When you create an account with us, you must provide us information that is accurate, complete,
                        and current at all times. Failure to do so constitutes a breach of the Terms, which may result
                        in immediate termination of your account on our Service.<br><br>

                        You are responsible for safeguarding the password that you use to access the Service and for any
                        activities or actions under your password, whether your password is with our Service or a
                        third-party service.<br><br>

                        You agree not to disclose your password to any third party. You must notify us immediately upon
                        becoming aware of any breach of security or unauthorized use of your account.
                    </p>

                    <h3>Links To Other Web Sites</h3>

                    <p>
                        Our Service may contain links to third-party web sites or services that are not owned or
                        controlled by Lend Engine.<br><br>

                        Lend Engine has no control over, and assumes no responsibility for, the content, privacy
                        policies, or practices of any third party web sites or services. You further acknowledge and
                        agree that Lend Engine shall not be responsible or liable, directly or indirectly, for any
                        damage or loss caused or alleged to be caused by or in connection with use of or reliance on any
                        such content, goods or services available on or through any such web sites or services.<br><br>

                        We strongly advise you to read the terms and conditions and privacy policies of any third-party
                        web sites or services that you visit.
                    </p>

                    <h3>Termination</h3>

                    <p>
                        We may terminate or suspend access to our Service immediately, without prior notice or
                        liability, for any reason whatsoever, including without limitation if you breach the Terms.
                        <br><br>

                        All provisions of the Terms which by their nature should survive termination shall survive
                        termination, including, without limitation, ownership provisions, warranty disclaimers,
                        indemnity and limitations of liability.
                        <br><br>

                        We may terminate or suspend your account immediately, without prior notice or liability, for any
                        reason whatsoever, including without limitation if you breach the Terms.
                        <br><br>

                        Upon termination, your right to use the Service will immediately cease.
                        <br><br>

                        All provisions of the Terms which by their nature should survive termination shall survive
                        termination, including, without limitation, ownership provisions, warranty disclaimers,
                        indemnity and limitations of liability.
                    </p>

                    <h3>Cancellation</h3>

                    <p>
                        If you choose to cancel your Lend Engine account we will backup your data and send you a raw
                        mySQL file for you to load into your own systems. We will then delete all information we have
                        for you. Send cancellation requests to hello@lend-engine.com
                    </p>

                    <h3>Service availability</h3>

                    <p>
                        Lend Engine is hosted with Heroku and AWS. We have no direct control over the availability of
                        the Heroku service, but believe it to be one of the best in the industry. Current and historic
                        availability information is available at https://status.heroku.com and
                        https://status.aws.amazon.com (see Europe)
                    </p>

                    <h3>Service continuity</h3>

                    <p>
                        Should Lend Engine cease operations, an offer will be made to users to take over the hosting
                        contracts with Heroku and AWS, in order to provide ongoing availability.
                    </p>

                    <h3>Data and backups</h3>

                    <p>
                        Lend Engine creates a backup of all user data every 24 hours. If you wish to restore your
                        account to a previous backup, it will be available for a nominal charge.
                        <br><br>

                        If an agreement stands between the you Lend Engine for additional backup retention, raw database
                        data will be sent to you on a regular basis as outlined in the additional data retention
                        agreement. You may send this backup to Lend Engine for restore at any time, however if the
                        backup is older than a few weeks it may not be possible to run it with the current version of
                        Lend Engine.
                        <br><br>

                        Additionally a data backup can be requested at any time.
                    </p>

                    <h3>Customer support</h3>

                    <p>
                        Product and technical support will be provided by email, other than where an additional
                        agreement is in place between you and Lend Engine.
                    </p>

                    <h3>Governing Law</h3>

                    <p>
                        These Terms shall be governed and construed in accordance with the laws of United Kingdom,
                        without regard to its conflict of law provisions.
                        <br><br>

                        Our failure to enforce any right or provision of these Terms will not be considered a waiver of
                        those rights. If any provision of these Terms is held to be invalid or unenforceable by a court,
                        the remaining provisions of these Terms will remain in effect. These Terms constitute the entire
                        agreement between us regarding our Service, and supersede and replace any prior agreements we
                        might have between us regarding the Service.
                    </p>

                    <h3>Data protection and privacy</h3>

                    <p>
                        Lend Engine can provide detailed information about what member data can be stored.
                        Each library using Lend Engine can choose to extend the basic fields available, and it is the duty of the library
                        to ensure that they respect any local data protection laws.
                        <br><br>

                        Lend Engine will provide a user a copy upon request (in electronic format) of the data that pertains to them.
                        <br><br>

                        Lend Engine will respect the Right to be Forgotten; should a data subject request that their data be removed,
                        they should get in touch with the library who will use appropriate tools provided in the software to remove any personal information about the subject.
                    </p>

                    <h3>Changes</h3>

                    <p>
                        We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a
                        revision is material we will try to provide at least 30 days notice prior to any new terms
                        taking effect. What constitutes a material change will be determined at our sole discretion.
                        <br><br>

                        By continuing to access or use our Service after those revisions become effective, you agree to
                        be bound by the revised terms. If you do not agree to the new terms, please stop using the
                        Service.
                    </p>

                    <h3>Contact Us</h3>

                    <p>If you have any questions about these Terms, please contact us.</p>

                </div>
            </div>
        </div>
    </section>

    <section id="divider">
        <div class="container">
            <h3>
                Sign up for a free account now.
            </h3>
            <a href="{{ path('signup') }}" class="btn btn-success btn-signup">Sounds good. Let's go!</a>
        </div>
    </section>


{% endblock %}
