{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block page_title %}Registration confirmed{% endblock %}

{% block fos_user_content %}
    <h1>Welcome!</h1>

    <p class="large-text">
        Your account is activated and you're now logged in. Go to My account to manage your details.
    </p>

    <p>&nbsp;</p>

    <p>
        <a href="{{ path('fos_user_profile_show') }}" class="btn btn-success">Go to my account</a>
    </p>

{% endblock fos_user_content %}
