{% extends 'base.html.twig' %}

{% block title %}Claim an organisation{% endblock %}

{% block hero %}
    <section id="directory-heading">
        <div class="container">
            <h1>
                Claim an organisation
            </h1>
        </div>
    </section>
{% endblock %}
{% block body %}

    <section id="feature1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Our data is made up from a combination of sources; libraries submitted by owners and managers,
                        and information that's freely available around the internet. We try hard to ensure accuracy,
                        but libraries come and go, move address, and things can go out of date.
                    </p>
                    <p>
                        Have you spotted an error or omission in one of the listings and you own the organisation email address?
                        Or want to de-activate the listing? It's easy to claim your organisation.
                    </p>
                    <br>
                    <ul>
                        <li>Go to the login page.</li>
                        <li>Click "<strong>I forgot my password</strong>" and enter your organisation email address.</li>
                        <li>You'll be send a link to reset your password.</li>
                        <li>Click the link, add a new password, and you can then access your account.</li>
                    </ul>
                    <br>
                    <p>
                        Or just contact us if you'd like to talk.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
